<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/auth/login" method="POST">
      <div>
        <label for="emailAddress">Email Address</label>
        <input id="emailAddress" name="username" type="email" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required />
      </div>
      <button type="submit">Login</button>
      <a href="/auth/signup">Signup</a>
      <% if (locals.errors) { %>
        <%= errors.message %>
      <% } %>
    </form>
  </body>
</html>
