<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/auth/signup" method="POST">
      <%- include("../partials/formErrors.ejs") %>
      <div>
        <label for="firstName">First Name</label>
        <input id="firstName" name="firstName" type="text" required />
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <input id="lastName" name="lastName" type="text" />
      </div>
      <div>
        <label for="emailAddress">Email Address</label>
        <input id="emailAddress" name="username" type="email" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" required />
      </div>
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input
          id="confirmPassword"
          name="confirmPassword"
          type="password"
          required
        />
      </div>
      <button type="submit">Signup</button>
    </form>
  </body>
</html>
