<header>
  <h2><a href="/">Members Only</a></h2>
  <% if (locals?.isHome) {%>
    <div>
      <% if(!locals.currentUser) {%>
        <a class="cte-btn" href="/auth/login">Login</a>
        <a class="btn" href="/auth/signup">Sign up</a>
      <%} else { %>
        <a class="btn" href="/auth/logout">Logout</a>
        <% if (!currentUser?.isMember) {%>
          <a class="cte-btn" href="/user/join">Join Club</a>  
        <%}%>
      <%}%>
    </div>
  <%}%>
</header>