<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css">
    <title>Delete</title>
  </head>
  <body>
    <%- include("./partials/layout/header.ejs") %>
    <main>
      <form action="<%=path%>" method="POst">
        <div class="form-card">
          <h2><%= title %></h2>
          <p><%= prompt %></p>
          <button type="button" onclick="history.back(); return false;">
            Cancel
          </button>
          <button class="cte-btn" type="submit">Delete</button>

        </div>
      </form>
    </main>
  </body>
</html>
