<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css">
    <title>Document</title>
  </head>
  <body>
    <%- include("./partials/layout/header.ejs", {isHome: true}) %>
    <main>
      <%- include("./partials/loginNotice.ejs") %>
      <%- include("./partials/messages.ejs") %>

    </main>
  </body>
</html>
