<% if(locals.messages) {%>
  <% messages.forEach(message => {%>
    <div>
      <div>
        <%= currentUser?.isMember ? message.firstName + (message.lastName ? " " + message.lastName : "" ) : "*****" %>
        <%= currentUser?.isMember ? formatDistanceToNowStrict(message.createdTimestamp, {addSuffix: true}) : "*****" %>
      </div>
      <%= message.message %>
      <div>
        <% if(currentUser?.isAdmin) {%>
          <a href="/message/<%= message.id%>/delete">Delete</a>
        <% } %>
      </div>
    </div>
  <%})%>
<% } %>
