<% if (locals.roleValidationErrors) { %>
  <ul class="error-container">
    <% Object?.entries(roleValidationErrors).forEach(([key, value]) => { %>
      <li><%= value %></li>
    <% }); %>
  </ul>
<% } %>