<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Club</title>
  </head>
  <body>
    <%- include("../partials/layout/header.ejs") %>
    <form action="/user/join" method="POST">
      <h1>Join the club</h1>
      <%- include("../partials/formErrors.ejs") %> <%-
      include("../partials/roleValidationErrors.ejs") %>
      <label for="passphrase"> Passphrase: </label>
      <input type="password" required name="passphrase" id="passphrase" />
      <button type="submit">Join</button>
    </form>
  </body>
</html>
