<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css">
    <title>New</title>
  </head>
  <body>
      <%- include("../partials/layout/header.ejs") %>
      <main>
        <form action="/message/new" method="POST">
          <div class="message-form">
            <h2><%= title %></h2>
            <%- include("../partials/formErrors.ejs") %>
            <div>
              <label for="message">Message:</label>
              <textarea
                class="form-textarea"
                minlength="1"
                maxlength="2000"
                name="message"
                id="message"
              ></textarea>
            </div>
            <button type="button" onclick="history.back(); return false">
              Cancel
            </button>
            <button class="cte-btn" type="submit">Post</button>

          </div>
        </form>
      </main>
  </body>
</html>
